
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.target{
  animation: mymove;
  animation-duration: 1s;
  animation-iteration-count: infinite; 
  display: inline-block;
}


@keyframes mymove
  {
  0% {color:red;transform:scale(1) ;}
  
  50% {color:blue;transform:scale(1.5) }

  100% {color:red;transform:scale(1) }
}