
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.target{
  animation: mymove;
  animation-duration: 1s;
  animation-iteration-count: infinite; 
  display: inline-block;
}


@keyframes mymove
  {
  0% {color:red;transform:scale(1) ;}
  
  50% {color:blue;transform:scale(1.5) }

  100% {color:red;transform:scale(1) }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}

/* 弹窗进入的动画 */
@keyframes modalOpen {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-modalOpen {
  animation: modalOpen 0.3s ease-out forwards;
}
